body {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: grey;
    padding: 5px;
    margin: 10px;
    height: 150px;
}
.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  
.header h1 {
    position: relative;
    font-size: 50px;
    top: 18px;
    left: 10px;
  }
h1 {
    color: black;
}

footer {
    background-color: grey;
    padding: 5px;
    margin-top: auto;
    height: 150px;
}