:root {
    --articleheight: 40vh;
    --headerheight: 15vh;
}

*{
    box-sizing: border-box;
    margin: 0%;
}

.header{
    width: 70vw;
    /* background-color: burlywood; */
}

.hideClass {
    visibility: hidden;
    position: fixed;
    /* background-color: darkolivegreen; */
}

.header img{
    float: left;
    width: 40vw;
    height: 60px;
    background: #555;
    margin-left: 20px;
}

.header h1 {
    position: relative;
    font-size: 50px;
    top: 15px;
    left: 40px;
    color: black;
  }

.pageLinks{
      width: 25vw;
      right: 0;
      position:absolute;
  }

#logo{
    width: 70px;
    /* background-color: cadetblue; */
}

#pageName{
    width: 50vw;
    text-align: center;
    /* background-color: darkblue; */
}

.pageLinks{
    top: 0;
    right: 0;
    /* width: 20vw; */
    /* background-color: darkolivegreen; */

}

#slection option{
    margin-top: 10px;
    left: 0;
}

div a{
    text-align: right;
    display: block;
    right: 0;
}

header{
    height: var(--headerheight);
}

.selection .heads{
    height: 5vh;
}

.titles{
    width:  calc((0.6 * 100vw)/3);
    display: inline-block;
    text-align: center;
    font-size: large;
    margin-top: 5px;
}

.locs{
    margin-left: 2px;
    display: inline-block;
    width:  calc((0.3 * 100vw)/3);
    font-size: medium;
}

img.gifs{
    width: 160px;
    height: 160px;
    margin-left: calc((calc(100vw/3) - 160px)/2);
  }


article{
    height: var(--articleheight);
    display: flex;
    flex-wrap: wrap;
}

#addPosts .selection {
    width: calc(100vw/3);
    border: 5px solid whitesmoke;
    height: 35vh;
}

.plus{
    font-size: 40px;
    text-align: right;
    display: inline-block;
    margin-left: calc(calc(100vw/3) - 40px);
    top: 60vh;

}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: blue;
    text-align: center;
    margin-bottom: 2px;

}

.p{
    margin-top: 5px;
}


@media only screen and (max-width: 1000px){

    header{
        height: 10vh;
    }

    article{
        height: 90vh;
    }
    
    article > section{
        width: 50%;
    }

    img.gifs{
        width: 270px;
        height: auto;
        margin-left: calc((calc(100vw/2) - 270px)/2);
    }

    h1{
        width:  calc((0.6 * 100vw)/2);
        display: inline-block;
        text-align: center;
        font-size: xx-large;
        margin-top: 10px;
    }
    
    h2{
        margin-left: 2px;
        display: inline-block;
        width:  calc((0.3 * 100vw)/2);;
    }

    .plus{
        font-size: 30px;
        text-align: right;
        display: inline-block;
        margin-left: calc(calc(100vw/2) - 30px);
        margin-top: 5px;
    }
    
   
}


@media only screen and (max-width: 600px){

    header{
        height: 8vh;
    }

    article{
        height: 92vh;
    }

    h2{
        padding: 1vh;
        font-size: 40px;
    }
    
    main > article section{
        width: 100vw;
        
    }

    img.gifs{
        width: 250px;
        height: auto;
        margin-left: calc((100vw - 250px)/2);
    }

    h1{
        width:  calc(0.6 * 100vw);
        display: inline-block;
        text-align: center;
        font-size: xx-large;
        margin-top: 10px;
    }
    
    h2{
        margin-left: 2px;
        display: inline-block;
        width: calc(0.3 * 100vw);
    }

    .plus{
        font-size: 30px;
        text-align: right;
        display: inline-block;
        margin-left: calc(100vw - 30px);
        margin-top: 5px;
    }
    
}

@media only screen and (max-width: 360px){

    header{
        height: 6vh;
    }


    article{
        height: 94vh;
    }
    
    img.gifs{
        width: 200px;
        height: auto;
        margin-left: calc((100vw - 200px)/2);
    }

    h1{
        width:  calc(0.6 * 100vw);
        display: inline-block;
        text-align: center;
        font-size: xx-large;
        margin-top: 10px;
    }
    
    h2{
        margin-left: 2px;
        display: inline-block;
        width: calc(0.3 * 100vw);
        
    }

}


