:root {
    --articleheight: 40vh;
    --headerheight: 20vh;
}

*{
    box-sizing: border-box;
    margin: 0%;
}

body{
    background-color: #D0EFFF;
}

#topHeader{
    background-color: #187bcd;
    font-family: 'Montserrat', sans-serif;
}

header .topnav {
    height: var(--headerheight)

}

.topnav {
    overflow: hidden;
    background-color: #03254C;
    /* height: 50px;    */
}

.topnav{
    width: 150px;
    right: 0;
    position:absolute;
    top: 0;
}

.topnav a {
    color: #f2f2f2;
    /* text-align: center;
    padding: 14px 16px; */
    right: 5px;
    text-decoration: none;
    font-size: 17px;
    height: calc(var(--headerheight)/4);
    
  }

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    background-color: #1167B1;
    color: white;
  }

.topnav a.active:hover {
    background-color: #187BCD;
    color: white;
  }

.hideClass {
    visibility: hidden;
    position: fixed;
    /* background-color: darkolivegreen; */
}

.header img{
    float: left;
    width: 40vw;
    height: 60px;
    background: #555;
    margin-left: 20px;
}


#logo{
    width: 40px;
    /* background-color: cadetblue; */
}

#pageName{
    /* width: 50vw; */
    font-family: 'Birthstone', cursive;
    margin-left: 30px;
    margin-right: 150px;
    text-align: center;
    font-size: 65px;
}


#slection option{
    margin-top: 10px;
    left: 0;
}

div a{
    text-align: left;
    display: block;
    right: 0;
}

header{
    height: var(--headerheight);
}

.selection .heads{
    height: 5vh;
}

.titles{
    width:  calc((0.6 * 100vw)/3);
    display: inline-block;
    text-align: center;
    font-size: large;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
}

.locs{
    margin-left: 2px;
    display: inline-block;
    width:  calc((0.3 * 100vw)/3);
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}

img.gifs{
    width: 160px;
    height: 160px;
    margin-left: calc((calc(100vw/3) - 160px)/2);
  }


article{
    height: var(--articleheight);
    display: flex;
    flex-wrap: wrap;
}


#addPosts .selection {
    width: calc(100vw/3);
    border: 5px solid #a9cfe2;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: blue;
    text-align: center;
    margin-bottom: 2px;

}

.p{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
}


@media only screen and (max-width: 1050px){

    #topHeader{
        height: 15vh;
    }

    #addPosts{
        height: 80vh;
    }
    
    #addPosts > .selection{
        width: 50%;
    }

    img.gifs{
        width: 270px;
        height: 270px;
        margin-left: calc((calc(100vw/2) - 270px)/2);
    }

    .header h1 {
        position: relative;
        font-size: 30px;
        top: 15px;
        left: 30px;
        color: black;
    }
    
    #pageName{
        font-family: 'Birthstone', cursive;
        margin-left: 30px;
        margin-right: 150px;
        text-align: center;
        font-size: 60px;
    }
    
    h2{
        margin-left: 2px;
        display: inline-block;
        width:  calc((0.3 * 100vw)/2);;
    }

    .titles{
        width:calc(0.7 * 100vw/2);
    }

    .topnav a {
        font-size: 12px;
        height: calc(15vh/4);
        
      }

      header .topnav {
        height: 15vh;
    
    }
    
   
}


@media only screen and (max-width: 750px){

    #addPosts > .selection{
        width: 50%;
    }

    img.gifs{
        width: 200px;
        height: 200px;
        margin-left: calc((calc(100vw/2) - 200px)/2);
    }

    .header h1 {
        position: relative;
        font-size: 30px;
        top: 15px;
        left: 30px;
        color: black;
    }
    
    #pageName{
        font-size: 48px;
        margin-right: 110px;
    }
    
    h2{
        margin-left: 2px;
        display: inline-block;
        width:  calc((0.3 * 100vw)/2);;
    }

    .titles{
        width:calc(0.7 * 100vw/2);
        font-size: medium;
    }

    .locs{
        font-size: small;
    }

    .p{
        font-size: small;
    }

    .topnav a {
        font-size: 12px;
        height: calc(15vh/4);
        
    }

    .topnav{
        width: 110px;
    }
  
}


@media only screen and (max-width: 620px){

    #addPosts > .selection{
        width: 50%;
    }

    img.gifs{
        width: 160px;
        height: 160px;
        margin-left: calc((calc(100vw/2) - 160px)/2);
    }

    .header h1 {
        position: relative;
        font-size: 30px;
        top: 15px;
        left: 30px;
        color: black;
    }
    
    #pageName{
        font-size: 40px;
        margin-left: 28px;
    }
    
    
    h2{
        margin-left: 2px;
        display: inline-block;
        width:  calc((0.3 * 100vw)/2);;
    }

    .titles{
        width:calc(0.7 * 100vw/2);
        font-size: small;
    }

    .locs{
        font-size:x-small;
    }

    .p{
        font-size: x-small;
    }

    .topnav a {
        font-size: 12px;
        height: calc(15vh/4);
        
    }

    #logo{
        width: 28px;
        /* background-color: cadetblue; */
    }

  
}


@media only screen and (max-width: 520px){

    #pageName{
        font-size: 38px;
    }


    .topnav{
        width: 90px;
    }

    .topnav a {
        font-size: 10px;       
      }

}

@media only screen and (max-width: 480px){

    #pageName{
        font-size: 32px;
    }

}


@media only screen and (max-width: 420px){

    #topHeader{
        height: 10vh;
    }
 
    #addPosts > .selection{
        width: 100%;
    }

    img.gifs{
        width: 220px;
        height: 220px;
        margin-left: calc((100vw - 220px)/2);
    }

    .header h1 {
        position: relative;
        font-size: 30px;
        top: 15px;
        left: 30px;
        color: black;
    }
    
    #pageName{
        font-size: 26px;
        margin-left: 5px;
    }
    
    
    h2{
        margin-left: 2px;
        display: inline-block;
        width:  calc(0.3 * 100vw);;
    }

    .titles{
        width:calc(0.7 * 100vw);
        font-size: small;
    }

    .locs{
        font-size:x-small;
    }

    .p{
        font-size: x-small;
    }

    #logo{
        width: 12px;
        /* background-color: cadetblue; */
    }

    .topnav a {
        font-size: 10px;
        height: calc(10vh/4);
        
      }

      header .topnav {
        height: 10vh;
    
    }
  
}



@media only screen and (max-width: 380px){
    
    img.gifs{
        width: 180px;
        height: 180px;
        margin-left: calc((100vw - 180px)/2);
    }

    #pageName{
        font-size: 23px;
        margin-left: 0px;
    }


    .topnav{
        width: 70px;
    }

    .topnav a {
        font-size: 8px;       
      }

}

@media only screen and (max-width: 350px){
    
    img.gifs{
        width: 150px;
        height: 150px;
        margin-left: calc((100vw - 150px)/2);
    }

    #pageName{
        font-size: 20px;
    }

    #logo{
        width: 8px;
    }


}